<ion-header>
    <ion-navbar>
      <ion-title>
        Add Order To {{datameja}}
      </ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding>
    <h2>Avaliable Menu</h2>
      <div>
        <ion-row class="pdr-5 mgt-5 pdb-10">
          <ion-col col-6 *ngFor="let data of datatemp">
              <ng-container *ngIf="datatemp!=null; then dataisi else datakosong"></ng-container>
              <ng-template #dataisi>
                <ion-card class="full-width mg-0 shadow-2 featured_item" (click)="onprompt(data)">
                  <img src="http://mobile.monalisacafe.xyz/assets/gambar/product/{{data.pic}}"/>
                  <ion-card-content class="pd-5">
                    <ion-card-title class="fs-13 fw-600 pd-0">{{data.namapro}}</ion-card-title>
                    <p class="mgb-0 fs-9">{{data.proid}}</p>
                    <p class="fw-600 text-red fs-10">{{data.price | number : fractionSize}} / {{data.unit}}</p>
                  </ion-card-content>
                </ion-card>
              </ng-template>
              <ng-template #datakosong>
                  <h3></h3>
              </ng-template>  
          </ion-col>
        </ion-row>
      </div>
</ion-content>
